@mixin logo
  background-repeat: no-repeat
  background-size: 100%
  background-position: center
  min-width: 130px
  cursor: pointer
  outline: none

p
  padding: 50px

.logo
  padding-left: 3%
  padding-top: 50px
  width: 10vw
  height: 10vw

.logo-movie
  @include logo
  background-image: url('../../../../../assets/img/logo1.svg')

.logo-series
  @include logo
  background-image: url('../../../../../assets/img/logo2.svg')
