@import @angular/material/prebuilt-themes/deeppurple-amber.css
@import variables.sass

body
  margin: 0 0 0 0
  font-family: $font
  font-style: $font-style-light

mat-form-field
  padding: 50px 0 50px 50px

  div.mat-form-field-wrapper
    padding-bottom: 0 !important

  .mat-form-field-flex
    border: 1px solid $light-grey
    width: 25vw
    min-width: 250px
    background-color: $white

  .mat-form-field-infix
    border-top: 0

  .mat-form-field-underline
    display: none

button.mat-button
  min-width: 33.6px !important

.mat-autocomplete-panel
  border-bottom-left-radius: 0 !important
  border-bottom-right-radius: 0 !important
