<div>
    <div class="main-container"></div>
    <div fxLayout="row" fxLayout.lt-sm="column">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="40" class="logo-container">
            <logo fxFlex="100" class="logo"></logo>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" fxFlex="60">
            <search (optionClick)="onOptionClick($event)" (searchClick)="onSearchClick($event)"></search>
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>