.main-container
  position: absolute
  height: 80vh
  background-position: right top
  background-repeat: no-repeat
  background-image: linear-gradient(to top, rgba(255, 255, 255, 1)0%,rgba(255, 255, 255, 1)25%, rgba(255, 255, 255, 0)100%), linear-gradient(to right, rgba(255, 255, 255, 1)0%,rgba(255, 255, 255, 0.55)6%, rgba(255, 255, 255, 0)100%), url('../../../../../assets/img/background.jpg')
  opacity: 0.5
  width: 100%
  z-index: -1
  background-attachment: fixed

.logo
  margin-left: 6%
