<div *ngFor="let result of resultList" fxFlex="40" fxFlex.lt-sm="100" fxLayoutAlign="center center">
    <div fxLayout="row" fxFlex="100" fxLayoutAlign.lt-sm="start center" fxLayoutGap="10px" (click)="onResultClick(result)">
        <div fxFlex fxLayoutAlign="end center" fxLayoutAlign.lt-sm="center center">
            <img class="poster" *ngIf="result?.Poster !== 'N/A'; else placeholder" src={{result?.Poster}}>
        </div>
        <ng-template #placeholder>
            <img src="assets/img/camera.png">
        </ng-template>
        <div fxFlex fxLayoutAlign="start center" class="title">
            {{result.Title}}
        </div>
    </div>
</div>