@import '../../../../../assets/styles/variables.sass'

img
  max-width: 30%

.main-container
  flex: 1
  max-height: 20%
  max-width: 100%
  flex-direction: column
  margin-top: 5%
  margin-bottom: 5%
  margin-right: 5%

.title
  padding-right: 3%

.poster
  border: 4px solid $light-grey
