@import ../../../../../assets/styles/variables.sass

mat-option
  cursor: pointer

button
  height: 33.6px
  background-color: $green
  margin: 50px 50px 50px 0
  padding: 0
  border-radius: 0
  background-image: url('../../../../../assets/img/search.png')
  background-size: 60%
  background-repeat: no-repeat
  background-position-x: center
  background-position-y: center
  cursor: pointer
