<div fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field fxLayout="column" fxLayoutAlign="end center">
        <input [formControl]="searchField" type="text" matInput [matAutocomplete]="searchAutocomplete">
        <mat-autocomplete autoActiveFirstOption #searchAutocomplete [displayWith]="displayWith ">
            <mat-option *ngFor="let item of items" [value]="item " (click)="onOptionClick() ">
                {{item.Title}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <div fxLayout="column" fxLayoutAlign="start center ">
        <button mat-button (click)="onSearchClick() "></button>
    </div>
</div>