@import ../../../../../assets/styles/variables.sass

@mixin star-dimensions
  height: 100%
  width: 100%
  background-repeat: no-repeat
  background-size: 100%

img
  width: auto
  height: 100%
  border: 4px solid $light-grey
  object-fit: contain

.main-container
  flex: 1
  height: 40%

.poster-container
  flex: 1
  height: 100%

.details-column
  height: 100%
  padding-left: 20px
  padding-top: 5%
  line-height: 18px
  flex: 1.8

  .title
    font-size: 25px
    font-weight: bold
    line-height: 27px

  .runtime
    padding: 5px 0 5px 0

  .rating
    padding-top: 5%
    padding-bottom: 2%
    .votes
      font-size: 12px

  .decription
    font-size: 12px
    line-height: 25px

  .plot
    font-size: 12px
    padding-top: 5%
    padding-right: 20px
    padding-bottom: 5%


.star-container
  height: 20px
  width: 20px

.green-star
  @include star-dimensions
  background-image: url('../../../../../assets/img/green-star.png')

.green-half-star
  @include star-dimensions
  background-image: url('../../../../../assets/img/green-star-half.png')

.pink-star
  @include star-dimensions
  background-image: url('../../../../../assets/img/pink-star.png')

.pink-half-star
  @include star-dimensions
  background-image: url('../../../../../assets/img/pink-star-half.png')



@media (max-width: $small-device-screen-width)
  .plot
    padding-left: 20px

  .details-column
    width: 100%


