<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxFlex="50" fxFlex.lt-sm="100">
    <div fxLayout="column" class="poster-container">
        <img *ngIf="itemDetails?.Poster !== 'N/A'; else placeholder" src="{{ itemDetails?.Poster }}" />
    </div>
    <ng-template #placeholder>
        <img src="assets/img/camera.png" />
    </ng-template>
    <div fxLayout="column" class="details-column" fxLayoutAlign="start" fxLayoutAlign.lt-sm="center center">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
            <div class="title" fxFlex="90">
                {{ itemDetails?.Title }}
            </div>
            <div fxFlex="10">
                {{ "(" + itemDetails?.Year + ")" }}
            </div>
        </div>
        <div class="runtime" fxLayoutAlign="start center" fxFlex>
            {{ itemDetails?.Runtime }}
        </div>
        <div fxLayout="row" fxLayoutGap="15px" fxFlex fxLayoutAlign="start center" class="rating">
            <div fxLayout="row">
                <div *ngFor="let r of rating" class="star-container">
                    <div *ngIf="r.fillingType === starFillingType.Full" [ngClass]="{'green-star': itemDetails.Type === type.Movie, 'pink-star':itemDetails.Type === type.Series}"></div>
                    <div *ngIf="r.fillingType === starFillingType.Half" [ngClass]="{'green-half-star': itemDetails.Type === type.Movie, 'pink-half-star':itemDetails.Type === type.Series}"></div>
                </div>
            </div>

            <div class="votes">{{ itemDetails?.imdbVotes }} głosów</div>
        </div>
        <div class="decription" fxFlex>
            <div>reżyseria: {{ itemDetails?.Director }}</div>
            <div>gatunek: {{ itemDetails?.Genre }}</div>
            <div>data premiery: {{ itemDetails?.Released | date: "dd.MM.yyyy" }}</div>
            <div *ngIf="itemDetails?.Type === type.Series">
                sezony: {{ itemDetails?.totalSeasons }}
            </div>
        </div>
        <div class="plot" fxLayoutAlign="start center" fxFlex>
            {{ itemDetails?.Plot }}
        </div>
    </div>
</div>